<%= form_with(url: destiny_path) do |f| %>
    <%= f.label("como devemos te chamar?", for:"name") %>
    <%= f.text_field("name", id: "name") %>

    <%= f.label("qual o seu email?", for: "email") %>
    <%= f.email_field("email", id: "email") %>
    
    <%= f.label("telefone", for:"tel") %>
    <%= f.telephone_field("tel", id: "tel")  %>
    
    <%= f.label("mensagem?", for:"message") %>
    <%= f.text_area("message", id: "message") %>

    <%= f.button("Enviar", type:"submit") %>
<% end %>