@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
}

body {
    margin: 0;
    background-color: #233E50;
    color: #fafafa;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 5rem;
    font-weight: 500;
    position: relative;
    width: fit-content;
}

h2::after {
    content: '';
    width: 100%;
    height: 33%;
    left: 0;
    top: 50%;
    background-color: #63A7C4;
    z-index: -1;
    position: absolute;
}

form {
    display: flex;
    flex-flow: column;
    width: 25rem;
}

label {
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 300;
}

input, textarea, button {
    padding: .5em;
    margin-top: 1em;
    margin-bottom: 2em;
    border: #63A7C4 3px solid;
}

textarea {
    resize: none;
    height: 10rem;
}

button {
    background-color: #63A7C4;
    border: none;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    width: fit-content;
    padding: .5em 1.5em;
    align-self: center;
    transition: .3s;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: column;

    &:hover {
        background-color: #2F799A;
    }

    &::before {
        content: '';
        background-color: inherit;
        width: 125%;
        height: 100%;
        transform: skew(-30deg);
        justify-self: center;
        top: 0;
        position: absolute;
        z-index: -1;
        align-self: center;
    }
}